 <?php
if(isset($msg) && ($msg != "")){
	echo $msg;
}?>
 <header>Products</header>
<form action="products.php" method="POST">
<!--<input type="text" name="s" id="s" value="<?php //echo @$s; ?>"> -->
<label for="Select Conference" class="control-label">Select Conference:</label> <select name="conf_id"  id="conf_id">
	<option value="">--Select Conference--</option>
	<?php
	foreach($confData as $data){
		$selected1 = ($confId == $data['Conference_Identifier']) ? "selected" : "";
		echo "<option value='" . $data['Conference_Identifier'] . "' ".$selected1.">" . $data['Conference_Title_EN'] . "</option>";
	}
	?>
</select>
<input type="submit" name="submitbtn" id="submitbtn" value="Go">
</form>

                       
                        <table class="responsive">
                            <tbody>
                                <tr class="blueh">
                                    <th>S.No</th>
                                    <th>Title En</th>
                                    <th>Title Fr</th>
									<th>Description</th>
									<th>Price</th>
                                    <th>Effective Date</th>
									<th>Expiry Date</th>
									<th>Actions</th>
                                </tr>                            
                                <?php 
                                $sn = 1;
                                if($count>0){
								$showKeyCount = 1;
								foreach($aProductDeatials as $data){
									echo "<tr>";
									echo "<td>".($sn+$start_limit)."</td>
										  <td>".$data['Product_Title_EN']. "</td>
										  <td>".$data['Product_Title_FR']."</td>
										  <td>".$data['Product_Description']."</td>
										  <td>".$data['Product_Price']."</td>
										  <td>".$data['Product_Effective_Date_Time']."</td>
										  <td>".$data['Product_Expiry_Date_Time']."</td>
										  <td><a href='products.php?id=".$data['Product_Identification']."&action=edit'>Edit</a>";
									$sn++;
									if(ceil($count%ROW_PER_PAGE) == 1){
										$page =$page-1;
									}
								}
                                ?>
                            </tr>
                            <?php
								$showKeyCount++;
                            
                            }else{
                            echo "<tr><td colspan='5'>No records found</td></tr>";
                            }
                            ?>
                            </tbody>
                        </table>

                        <span style="padding-right:2px;margin-top:0px;">
                            <?php
                            //Display pagging
                            if(@$count > 0){
								echo doPages(ROW_PER_PAGE, 'products.php', $searchstring, $countForPagenation);
                            }
                            ?>
                        </span> 
                    
